***
# <font color=navy size=9>Tendência</font>
***

## Abrindo o arquivo de dados
Inicialmente iremos importar o arquivo de dados do IBGE modificado.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dados.csv')
df

            Sexo  Idade     Cor  Tempo de Estudo  Renda  Altura
0      Masculino     23   Parda               12    800    1.60
1       Feminino     23  Branca               12   1150    1.74
2       Feminino     35   Parda               15    880    1.76
3      Masculino     46  Branca                6   3500    1.78
4       Feminino     47   Parda                9    150    1.69
...          ...    ...     ...              ...    ...     ...
76835   Feminino     46  Branca               11    812    1.69
76836  Masculino     30   Preta                7   1500    1.79
76837  Masculino     32   Parda               12   1300    1.83
76838  Masculino     57   Parda                4   1500    1.73
76839  Masculino     38   Parda                4    900    1.66

[76840 rows x 6 columns]

## Medidas de tendência central

### Média aritmética
A média é representa por $\mu$, na maior parte da literatura, quando se refere à população e por $\bar{X}$ quando se refere à amostra.

## $$\mu = \frac 1n\sum_{i=1}^{n}X_i$$


> $n$ = número de observações

> $X_i$ = valor da i-ésima observação

Iremos criar um conjunto de dados para calcular a média.

In [3]:
exemplo = pd.DataFrame({'Valores':[1, 6, 2, 11, 41, 34]})
exemplo

   Valores
0        1
1        6
2        2
3       11
4       41
5       34

Utilizando a fórmula:

$$\mu = \frac {1 + 6 + 2 + 11 + 41 + 34}6$$

$$\mu = 15.8$$

Iremos calcular a média usando o método "mean()".

In [4]:
exemplo['Valores'].mean()

15.833333333333334

### Mediana
Para obtermos a mediana de uma conjunto de dados é necessário:

> Ordenar o conjunto de dados;

> Identificar o número de observações (elementos) do conjunto de dados ($n$);

> Identicar o elemento mediano.



Quando $n$ for ímpar, a posição do elemento mediano será obtida da seguinte forma:

### $$P_{Md} = \frac{n+1}2$$

Quando $n$ for par, a posição do elemento mediano será obtida da seguinte forma:

### $$P_{Md} = \frac{n}2$$

Para obter a mediana:

> Quando $n$ for ímpar:

## $$Md = X_{P_{Md}}$$

> Quando $n$ for par:


## $$Md = \frac{X_{P_{Md}} + X_{P_{Md+1}}}2$$

Vamos criar um conjunto de dados ímpar:

In [5]:
exemplo1 = pd.DataFrame({'Valores':[6, 4, 3, 9, 1, 2, 15, 12, 13]})
exemplo1

   Valores
0        6
1        4
2        3
3        9
4        1
5        2
6       15
7       12
8       13

Usaremos o método "sort_values()" para ordenar os dados.

In [6]:
exemplo1['Valores'].sort_values()

4     1
5     2
2     3
1     4
0     6
3     9
7    12
8    13
6    15
Name: Valores, dtype: int64

Utilizando a fórmula, teríamos:

n = 9 (número de elementos)

### $$P_{Md} = \frac{9+1}2$$

### $$P_{Md} = 5$$

A mediana é termo que está na posição "5".

Olhando para os dados organizados, o valor que está na posição "5" é o valor "6".

Agora iremos encontrar o valor da mediana utilizando o método "median()".

In [7]:
exemplo1['Valores'].median()

6.0

Vamos criar um conjunto de dados par:

In [8]:
exemplo2 = pd.DataFrame({'Valores':[6, 8, 3, 9, 1, 2, 5, 13]})

Usaremos o método "sort_values()" para ordenar os dados.

In [9]:
exemplo2['Valores'].sort_values()

4     1
5     2
2     3
6     5
0     6
1     8
3     9
7    13
Name: Valores, dtype: int64

Utilizando a fórmula, teríamos:

n = 8 (número de elementos)

### $$P_{Md} = \frac{8}2$$

### $$P_{Md} = 4$$

A mediana é:

### $$Md = \frac{(Termo 4)+ (Termo 5)}2$$

Como o termo "4" é o valor "5" e o termo "5" é o valor "6":

### $$Md = \frac{(5)+ (6)}2$$

### $$Md = 5.5$$

Agora iremos encontrar o valor da mediana utilizando o método "median()".

In [10]:
exemplo2['Valores'].median()

5.5

Com isso definido, vamos calcular a renda média de cada sexo do nosso conjunto de dados.

> Para agrupar os dados por sexo, iremos utilizar o método "groupby()".

> Para calcular a média, iremos utilizar o método "mean()".

In [11]:
df.groupby(['Sexo'])['Renda'].mean()

Sexo
Feminino     1566.847393
Masculino    2192.441596
Name: Renda, dtype: float64

### Moda
Em um conjunto de dados, a moda é aquele resultado mais recorrente no conjunto, ou seja, com maior frequência.

Para encontrar a moda utilizaremos o método "mode()".

In [12]:
df['Cor'].mode()

0    Parda
dtype: object

Com isso, temos que a moda do conjunto "Cor" é "Parda".

***