***
# <font color=navy size=9>Tipos de Dados</font>
***

## Abrindo o arquivo de dados
Inicialmente iremos importar o arquivo de dados do IBGE modificado.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('dados.csv')
df

            Sexo  Idade     Cor  Tempo de Estudo  Renda  Altura
0      Masculino     23   Parda               12    800    1.60
1       Feminino     23  Branca               12   1150    1.74
2       Feminino     35   Parda               15    880    1.76
3      Masculino     46  Branca                6   3500    1.78
4       Feminino     47   Parda                9    150    1.69
...          ...    ...     ...              ...    ...     ...
76835   Feminino     46  Branca               11    812    1.69
76836  Masculino     30   Preta                7   1500    1.79
76837  Masculino     32   Parda               12   1300    1.83
76838  Masculino     57   Parda                4   1500    1.73
76839  Masculino     38   Parda                4    900    1.66

[76840 rows x 6 columns]

> Usaremos a funçao "sorted()" para organizar os dados.

> O método ".unique()" será usado para exibir os valores únicos de cada planilha.

# Classificação de Variáveis

<img src='https://i.ibb.co/19JgtqX/tipo1.png' width='80%'>

# Variáveis qualitativas
São aquelas cujos valores podem ser separados em diferentes categorias que se distinguem por alguma característica não numérica, representando uma qualidade (atributo). 

Por exemplo: sexo (masculino e feminino), cor dos cabelos (preto, loiro, ruivo, castanho, etc).

## Variáveis qualitativas ordinais
São aquelas que podem ser ordenadas ou hierarquizardas.

Por exemplo, "Escolaridade" pode ter seus valores ordenados em: fundamental, médio, superior, etc. "Tempo de Estudo" mesmo sendo numérico representa uma qualidade e pode ser ordenado.

Utilizando nossos dados, a variável "Tempo de Estudo" pode ser representada como uma Variável Qualitativa Ordinal.

In [ ]:
sorted(df['Tempo de Estudo'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

## Variáveis qualitativas nominais
São aquelas que não podem estabelecer uma ordem ou hierarquia entre seus valores.
Por exemplo: sexo (masculino e feminino), cor da pele (amarela, branca, parda, preta, etc).

Utilizando nossos dados, as variáveis "Sexo" e "Cor" podem ser representadas como Variáveis Qualitativas Nominais.

In [ ]:
sorted(df['Sexo'].unique())

['Feminino', 'Masculino']

In [ ]:
sorted(df['Cor'].unique())

['Amarela', 'Branca', 'Indígena', 'Parda', 'Preta']

# Variáveis quantitativas
São aquelas cujos valores são expressos em números, resultantes de uma contagem ou mensuração.

## Variáveis quantitativas discretas
São aquelas que resultam de um conjunto finito (ou
enumerável) de valores possíveis, oriundas de uma contagem. 

Por exemplo: o número de livros de estatística da biblioteca da universidade e a quantidade de motorcicletas presentes num estacionamento.

Utilizando nossos dados, a variável "Idade" pode ser representada como uma Variável Quantitativa Discreta.

In [ ]:
print('De {} até {} anos'.format(df['Idade'].min(), df['Idade'].max()))

De 13 até 99 anos

#### <font color='red'>Vale lembrar:</font>
***
> Algumas variáveis podem pode ser classificada de formas diferentes. A variável "Idade" pode ser classificada como:
> 1. <b>QUANTITATIVA DISCRETA</b> - quando representa um valor inteiro (10 anos, 20 anos, etc);
> 2. <b>QUANTITATIVA CONTÍNUA</b> - quando representa a idade exata, sendo representada por frações de anos (10 anos, 3 meses, 2 dias, 3 minutos e 10 segundo de idade ou 10,375 anos);
> 3. <b>QUALITATIVA ORDINAL</b> - quando representa faixas de idade.

## Variáveis quantitativas contínuas
São aquelas que resultam de um número infinito de valores (mensurações)
possíveis que podem ser associados a pontos em uma escala contínua, de modo que não haja lacunas ou interrupções. 

Por exemplo, o peso de um saco de açúcar e a espessura de um alfinete constituem variáveis contínuas.

Utilizando nossos dados, a variável "Altura" pode ser representada como uma Variável Quantitativa Contínua.

In [ ]:
print('De %s até %s metros' % (df['Altura'].min(), df['Altura'].max()))

De 1.34 até 2.03 metros

Existe um tipo de variável qualitativa muito útil:

## Variável dicotômica 

Para essa variável só podem ocorrer duas realizações, usualmente chamadas **sucesso** e **fracasso**.

***